* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, "sans-serif";
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a;
}
.container {
	background-color: #707070;
	border-radius: 25px;
	max-height: 400px;
	max-width: 500px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	width: 350px;
}
.title {
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 500;
}
#binary {
	height: 15px;
	border-radius: 5px;
	margin-top: 2px;
	height: 30px;
	outline: none;
}
.row {
	margin: 10px;
	text-align: center;
	display: flex;
	gap: 10px;
}
.btn {
	width: 100px;
	height: 35px;
	border-radius: 5px;
	background: #101010;
	color: white;
	border: none;
	cursor: pointer;
}
.result {
	color: white;
}
label {
	color: white;
	margin-top: 8px;
}
